#player-container{
    height: 400px;
    width: 300px;
    display: grid;
    grid-template-rows: 70% auto auto;
    box-shadow: 2px 2px 5px 1px #777;
}

#player-show{
    height: 100%;
    width: 100%;
    
}

#player-show > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#player-time{
    display: grid;
    grid-template-columns: auto 60% auto;
    column-gap: 5%;
    justify-content: center;
    align-items: center;
}

#media-time-past{
    color: #3a3a3a;
    font-size: 0.8em;
    font-weight: bold;
}
#media-progress-container{
    width: 100%;
    height: 8px;
    background-color: rgb(163, 163, 163);
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px #616161;
}

#media-progress{
    /* width: 30%; */
    width: 0;
    height: 100%;
    background-color: aqua;
}

#media-time-total{
    color: #3a3a3a;
    font-size: 0.8em;
    font-weight: bold;
}

#player-control{
    display: grid;
    grid-template-columns: auto 50% auto;
    background-color: antiquewhite;
    align-items: center;
}

#player-control > div > img{
    border-radius: 50%;
    padding: 0.3em;
    box-shadow: 1px 1px 3px 1px #777;
    transition: all 0.3s;
}

#player-control > div > img:hover{
    box-shadow: 1px 1px 4px 2px rgb(68, 68, 68);
}

#media-stop{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}


#main{
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

#main > img{
    margin: 0 0.6em;
}

#media-repeat{
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
#media-repeat > img{
    width: 1.1em;
}

.media-active{
    background-color: aliceblue;
}

#media-repeat>img, #media-stop >img ,#main  > img{
    height: 1em;
    cursor: pointer;
}
